body {
  margin: 0;
  width: 100%;
  background-color: #645e55;
  font-family: 'Josefin Slab', serif;
}
.header-content {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  position: fixed;
  background-color: white;
  margin: 0 0px;
  width: 100%;
}
.top {
  padding-top: 150px;
}
.button {
  border: none;
  font-size: larger;
  outline: none;
  font-family: 'Josefin Slab', serif;
  margin-top: 20px;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  position: fixed;
  margin-left: 27px;
  text-align: center;
}
.button-share{
  margin-top: 300px;
}
.ad{
  margin-top: 350px;
  position: fixed;
  margin-left: 80px;
}
.add{
  margin-top: 375px;
  position: fixed;
}
.view{
  display: none;
  position: fixed;
  margin-left: 27px;
  margin-top: 300px;
  text-align: center;
}
.menu {
  border: none;
  background: transparent;
  font-size: x-large;
  outline: none;
  margin: 25px;
  font-family: 'Josefin Slab', serif;
}
.contact-first {
  display: none;
  padding-top: 100px;
  color: #645e55;
}
.form-div {
  margin-top: 99px;
  margin-left: -55px;
  margin-right: 47px;
}
.feedback-button {
  margin-top: 50px;
  border: none;
  font-family: 'Josefin Slab', seri;
  background: transparent;
  color: #645e55;
  font-size: x-large;
  cursor: pointer;
  outline-color: #645e55;
}
.home-content {
  text-align: right;
  padding-top: 350px;
  position: fixed;
}
.form {
  border-top: none;
  border-right: none;
  background-color: #242528;
  border-left: none;
  border-bottom-style: dotted;
  border-color: #645e55;
  color: white;
  outline: none;
  margin-top: 10px;
  padding: 10px;
  font-size: medium;
  resize: none;
  font-family: 'Josefin Slab', serif;
}
.form-home {
  border-top: none;
  border-right: none;
  background-color: transparent;
  border-left: none;
  border-bottom-style: dotted;
  border-color: #242528;
  color: white;
  outline: none;
  font-size: medium;
  resize: none;
  font-family: 'Josefin Slab', serif;
  margin-top: 25px;
  margin-left: 75px;
}
.contact-detail {
  text-align: center;
  font-size: x-large;
  margin-left: -100px;
  margin-top: 100px;
}
.phone-img {
  width: 57px ;
}
.contact-img {
  margin-left: -50px;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.page {
  font-size: larger;
  padding-left: 20px;
  white-space: pre-line;
  word-wrap: break-word;
  height: 250px;
  background: antiquewhite;
  width: 300px;
  margin-left: 30px;
  overflow: scroll;
  line-height: 175%;
}
.page-div{
  display: none;
}
.copy{
  display:flex ;
  flex-wrap: wrap
}